# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.css linguist-language=CSS

# Replace any whitespace in the language name with hyphens:
*.glyphs linguist-language=OpenStep-Property-List

# Language names are case-insensitive and may be specified using an alias.
# So, the following three lines are all functionally equivalent:
*.js linguist-language=JS
*.html linguist-language=HTML
*.es linguist-language=JAVASCRIPT
